.background {
position: fixed;
min-width: 100%;
min-height: 100%;
top: 50%;
left: 50%;
width: auto;
height: auto;
z-index: -100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: image-url('cinema_homepage.jpg') no-repeat;
background-size: cover;
}
